<app-navbar></app-navbar>


<div class="hero-section">
  <div class="hero-image">
    <img src="mateus.jpeg" alt="Foto de você" />
  </div>
  <div class="hero-content">
    <h1>TRANSFORMANDO IDEIAS EM <span class="highlight">REALIDADE DIGITAL.</span></h1>
    <p>
      Sou desenvolvedor backend focado em crescer e entregar soluções eficientes.  
      Encaro desafios como oportunidades para evoluir e fazer a diferença com tecnologia.
    </p>
    
    <button id="btnDownload" class="btn-contact">Baixar Currículo</button>
  </div>
</div>
 
<app-experiencia></app-experiencia>


<app-formacao></app-formacao>

<app-projeto></app-projeto>


<app-fale-comigo></app-fale-comigo>
<app-particles-contact></app-particles-contact>
<app-footer></app-footer>

<script>
  document.getElementById('btnDownload').addEventListener('click', function() {
  const link = document.createElement('a');
  link.href = 'mateus.pdf'; // caminho do arquivo na pasta public
  link.download = 'Mateus_Guerra_Curriculo.pdf'; // nome do arquivo que vai baixar
  document.body.appendChild(link);
  link.click();
  document.body.removeChild(link);
});

</script>