<section class="timeline-wrap">

  <h2 class="section-title">
    Minha Jornada
  </h2>

  <div class="timeline">

    <div
      class="timeline-item"
      *ngFor="let exp of experiencias; let i = index"
      [class.left]="i % 2 === 0"
      [class.right]="i % 2 !== 0">

      <!-- Logo -->
      <div class="timeline-circle">
        <div class="logo-circle">
          <img
            [src]="exp.logo"
            [alt]="exp.empresa">
        </div>
      </div>

      <!-- Card -->
      <div class="card">

        <span class="date-label">
          {{ exp.periodoInicio }} - {{ exp.periodoFim }}
        </span>

        <h3 class="card-title">
          {{ exp.empresa }}
        </h3>

        <h4>
          {{ exp.cargo }}
        </h4>

        <p class="card-text">
          {{ exp.descricao }}
        </p>

        <img
          class="tech-icons"
          [src]="'https://skillicons.dev/icons?i=' + exp.tecnologias"
          [alt]="exp.empresa">

      </div>

    </div>

  </div>

</section>